@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    body, input, select, textarea {
		font-size: 15pt;
	}

	#header {
		cursor: default;
		display: inline-block;
		opacity: 1;
		position: relative;
		text-align: right;
		top: -1em;
		vertical-align: middle;
		width: 90%;
	}

		#header h1 {
			font-size: 4.35em;
			font-weight: 900;
			letter-spacing: -0.035em;
			line-height: 1em;
		}

		#header p {
			font-size: 1.25em;
			margin: 0.75em 0 0.25em 0;
			opacity: 0.75;
		}

		#header nav {
			margin: 1.5em 0 0 0;
		}

			#header nav li {
				display: inline-block;
				height: 4em;
				line-height: 5.885em;
				opacity: 1;
				position: relative;
				top: 0;
				width: 4em;
			}

			#header nav a {
				border: 0;
				display: inline-block;
			}
				#header nav a span {
					display: none;
				}
}

@media only screen and (max-width: 767px){
    /* phones */
	body {
		min-width: 320px;
	}

	
	#header {
		cursor: default;
		display: inline-block;
		opacity: 1;
		position: relative;
		text-align: right;
		top: 2em;
		vertical-align: middle;
		width: 90%;
	}

		#header h1 {
			font-size: 4.35em;
			font-weight: 900;
			letter-spacing: -0.035em;
			line-height: 1em;
		}

		#header p {
			font-size: 3.25em;
			margin: 0.75em 0 0.25em 0;
			opacity: 0.75;
		}

		#header nav {
			margin: 1.5em 0 0 0;
		}

			#header nav li {
				display: inline-block;
				height: 4em;
				line-height: 5.885em;
				opacity: 1;
				position: relative;
				top: 0;
				width: 4em;
			}

			#header nav a {
				border: 0;
				display: inline-block;
			}
				#header nav a span {
					display: none;
				}
}

	body, input, select, textarea {
		color: white;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300 !important;
		letter-spacing: -0.025em;
		line-height: 1.75em;
		margin: 0;
	}

	a {
		border-bottom: dotted 1px;
		color: inherit;
		outline: 0;
		text-decoration: none;
	}


	.icon {
		position: relative;
	}

		.icon:before {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			padding: 15px;
    border-radius: 100px;
    border: 1px solid white;
		}

		.icon > .label {
			display: none;
		}

		.icon:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


	#bg {
		background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)
    ),
    url("images/bg10.jpg") bottom left;
		height: 100%;
		background-size: cover;
		width: 100%;
	}

	#main {
		height: 100%;
		left: 0;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
	}




	#footer {
		bottom: 0;
		cursor: default;
		height: 6em;
		left: 0;
		line-height: 8em;
		position: absolute;
		text-align: center;
		width: 100%;
	}
